body, html
{
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #202124;
    min-width: 400px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.linksContainer {
    height: 30px;
    padding: 6px;
}

.links {
    float: right;
    padding-right: 32px;
}

.links a {
    text-decoration: none;
    color: #202124;
    display: inline-block;
    padding-left: 15px;
}

a:hover {
    text-decoration: underline;
}

.searchform {
    margin: auto auto;
}

.inputdiv {
    height: 44px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 550px;
}

.inputdiv img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  opacity: 0.5;
  padding: 12px 2px 0px 10px;
  display: inline-block;
  float: left;
 }

.inputdiv input {
	margin: 0px;
	font-size: 16px;
	width: 85%;
   	height: 34px;
   	outline: none;
   	padding: 5px 0px 0px 0px;
   	margin: auto auto;
   	margin-top: 0px;
   	margin-left: 10px;
   	margin-left: 10px;
   	border: 0;
   	display: inline-block;
   	float: left;
   						
}

@media (max-width: 1056px) {			
.inputdiv {
	width: 400px;
	}
}


input#submit-button, input#lucky-button {
	border: 1px solid #f8f9fa;
	outline: none;
	padding: 8px;
	font-size: 16px;
	margin: 10px;
}

input#submit-button:hover, input#lucky-button:hover {
	box-shadow: 1px 1px 1px #dadce0;
	border: 1px solid #dadce0;
	background-color: #f8f9fa;
	color: #202124;
}